:root {	
    --main_bg: white;
    --main_color: black;
    --header_bg:#003300;
    --header_color:white;
    --product_page_bg:white;
    --product_page_color:black;
    --product_page_extra:#003300;
    --product_page_button_bg:#003300;
    --product_page_button_color:white;
    --footer_bg:#003300;
    --footer_color:white;
    --link:#003300;
    --star: #003300;
    --bg_transparent: rgba(0, 51, 0, 0.7);
    --highlight:#003300;
    --green_text: #003300;
    --red_text: #cc0000;
    --grey888: #888;
}
html {
    height: 100%;
}
body {
    min-height: 100% !important;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main_color);
    background-color: var(--main_bg);
    position: relative;
    font-size: 14px;
    margin:0px;
    padding: 0px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p, address {
    margin: 0px;
}
h1 {
    font-size: 32px;
    line-height: 32px;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    font-size: 28px;
    line-height: 28px;
    font-family: Arial, Helvetica, sans-serif;
}
h3 {
    font-size: 22px;
    line-height: 22px;
    font-family: Arial, Helvetica, sans-serif;
}
h4 {
    font-size: 20px;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
h5 {
    font-size: 18px;
    line-height: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
h6 {
    font-size: 12px;
    line-height: 12px;
	font-family: Arial, Helvetica, sans-serif;
}
ul {
    margin: 0px;
    padding: 0px;
}
li {
    list-style: none;
}
a, a:hover, a:focus {
    text-decoration: none;
    display: inline-block;
}
a:focus {
    outline: 0px auto -webkit-focus-ring-color;
    color: inherit;
}
:focus {
    outline: -webkit-focus-ring-color auto 0px;
}
input{
    border-color:transparent;
    -webkit-box-shadow:none;
    box-shadow:none; 
}
.highlight{
    color:var(--highlight);
}
.red_text{
    color:var(--red_text);
}

textarea.shadow_concav, input.shadow_concav, button.shadow_concav, .shadow_concav{
	-moz-box-shadow:    inset 2px 2px 6px 0px rgba(0,0,0,0.7)!important;
   	-webkit-box-shadow: inset 2px 2px 6px 0px rgba(0,0,0,0.7)!important;
   	box-shadow:         inset 2px 2px 6px 0px rgba(0,0,0,0.7)!important;
}
textarea.shadow_convex, input.shadow_convex, button.shadow_convex, .shadow_convex{
	-moz-box-shadow:    2px 2px 6px 0px rgba(0,0,0,0.7)!important;
   	-webkit-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.7)!important;
   	box-shadow:         2px 2px 6px 0px rgba(0,0,0,0.7)!important;
}

* {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.website_container{
    min-height: 100% !important;
    padding-bottom:40px;
}
.success {
    color: var(--green_text);
}
.error {
    color: var(--red_text);
}

/*---------------------loader---------------------*/
.loader_container{
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    z-index: 999999;
    top:0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width:100%;
    height:100%;
    color:white;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    display: none;
}
.loader{
    margin-top: 50%;
    transform: translate(0px, -50%);
}
.loader_container.show{
    display: block;
}

/*---------------------messages---------------------*/
.overlay {
    display: none;
    position: fixed;
    z-index: 999999;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom:0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    color: white;
    text-align: center;
}
.overlay.active {
    display: block;    
}
.overlay > div {
    background-color: white;
    color: var(--highlight);
    border-radius: 10px;
    width:100%;
    max-width: 200px;
    padding:10px;
    margin-top:50%;
    margin-left: 50%;
    transform:translate(-50%, -50%)
}
#message_overlay_title{
    border-bottom: solid 1px var(--highlight);
    padding-bottom:5px;
    margin-bottom: 5px;;
}
#message_overlay_close_button, #message_overlay_close_button:hover, #message_overlay_close_button:focus, #message_overlay_close_button:active{
    border-radius: 10px;
    padding:5px 10px;
    background-color: transparent;
    color: var(--highlight);
    border: solid 1px var(--highlight);
    width:100%;
    margin:5px 0px;
}

/*---------------------header---------------------*/
header{
    overflow: auto;
    background-color:var(--header_bg);   
    padding: 10px;
    color: var(--header_color);
}
header .header_left{
    float:left;
}
header .header_right{
    float: right;
    padding: 5px 0px;
}
header .header_right .header_box{
    padding: 0px 10px;
    border-right: solid 1px var(--header_color);
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-left: -5px;
}
header .header_right .header_box:last-child{
    border-right: none;
}
header a{
    color: var(--header_color);
}
header a:hover, header:focus, header:active{
    color: var(--header_color);
}
/*---------------------product on homepage---------------------*/
.product{
    padding-top:10px;
    padding-bottom:10px;
}
.product_box {
    position: relative;
    z-index: 0;
}
.product_box .product_image_box{
    position: absolute;
    z-index: 0;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    background-color: var(--bg_transparent);
    color:white;
    text-align: center;
    display:none;
}
.product_box .product_image_box.open{
    display:block;
}
.product_box .product_image_box, .product_box .product_image_box:hover, .product_box .product_image_box:active, .product_box .product_image_box:focus{
    color:white;
}
.product_box .product_image_box h4{
    position: absolute;
    top: 50%;
    width: 100%;
}
.product img{
    width:100%;
}
.product_info{
    padding:10px;
}
.product_price .discount{
    padding-left:5px;
    text-decoration: line-through;
    font-size: 18px;
    line-height: 18px;
}
.product_name a, .product_name a:hover, .product_name a:focus, .product_name a:active{
    color: var(--link);
}
.rating span{
    cursor: pointer;
}
.rating i{
    color: var(--star);
}

/*---------------------product page---------------------*/
.product_page{
    padding-top:20px;
    padding-bottom:20px;
    color: var(--product_page_color);
}
.product_page .product_image img{
    width:100%;
}
.product_page .product_info{
    padding-top:20px;
    padding-bottom:20px;
}
.product_page .product_features .features{
    display: inline-block;
    vertical-align: middle;
    padding:0px 10px;
    margin-right: 2px;
    border:solid 1px var(--product_page_extra);
    color: var(--product_page_extra);
    border-radius:50px;
}
.product_back a, .product_back a:hover, .product_back a:focus, .product_back a:active{
    color:var(--link);
}
.product_price{
    margin-bottom:10px;
}
.product_page .add_cart, .product_page .add_cart:active, .product_page .add_cart:focus{
    background: var(--product_page_button_bg);
    color: var(--product_page_button_color);
    border:solid 1px var(--product_page_button_bg);
    border-radius:10px;
    width:100%;
    max-width:200px;
    margin:10px 0px;
}
.product_page .add_cart:hover{
    background: transparent;
    color: var(--product_page_button_bg);
    border:solid 1px var(--product_page_button_bg);
}
.product_description_big h4, .product_features h4{
    margin:5px 0px;
}

/*---------------------cart page---------------------*/
.cart_header_container{
    border-bottom:solid 1px var(--grey888)
}
.cart_header_left{
    padding-top:10px;
    padding-bottom:10px;
    text-align: left;
}
.cart_header_right{
    padding-top:10px;
    padding-bottom:10px;
    text-align: right;
}
.cart_body_image, .cart_body_info, .cart_body_price{
    padding:10px;
    display: inline-block;
    vertical-align: top;
}
.cart_body_image img{
    width:100%;
    max-width:70px;
}
.cart_body_info h4{
    margin-bottom:10px;
}
.delete_cart_prod, .delete_cart_prod:active, .delete_cart_prod:focus{
    background: var(--product_page_button_bg);
    color: var(--product_page_button_color);
    border:solid 1px var(--product_page_button_bg);
    border-radius:10px;
    padding:0px 10px;
    height:25px;
}
.delete_cart_prod:hover{
    background: transparent;
    color: var(--product_page_button_bg);
    border:solid 1px var(--product_page_button_bg);
}
.cart_body_container input, .cart_body_container input:active, .cart_body_container input:focus{
    background: transparent;
    color: var(--product_page_button_bg);
    border:solid 1px var(--product_page_button_bg);
    border-radius:10px;
    padding:5px 10px;
    font-size: 12px;
    line-height: 12px;
    height:25px;
}
.cart_body{
    border-bottom: solid 1px var(--grey888);
}
.cart_body_right{
    text-align: right;
}
.cart_body_price{
    padding-right: 0px;
}
.cart_body_container{
    margin-bottom: 10px;
}
.delete_cart_all, .delete_cart_all:active, .delete_cart_all:focus{
    background: var(--product_page_button_bg);
    color: var(--product_page_button_color);
    border:solid 1px var(--product_page_button_bg);
    border-radius:10px;
    padding:0px 10px;
}
.delete_cart_all:hover{
    background: transparent;
    color: var(--product_page_button_bg);
    border:solid 1px var(--product_page_button_bg);
}
.cart_buy{
    padding:10px;
    border:solid 1px var(--product_page_extra);
    border-radius:10px;
    font-size: 20px;
    line-height: 20px;
    margin-top:10px;
}
.cart_buy p{
    margin-bottom:10px;
}
.checkout_cart, .checkout_cart:active, .checkout_cart:focus{
    background: var(--product_page_button_bg);
    color: var(--product_page_button_color);
    border:solid 1px var(--product_page_button_bg);
    border-radius:10px;
    padding:10px 20px;
    width:100%;
}
.checkout_cart:hover{
    background: transparent;
    color: var(--product_page_button_bg);
    border:solid 1px var(--product_page_button_bg);
}

/*---------------------sign-in / sign-up / shipping---------------------*/
.sign_in_form_container, .sign_up_form_container{
    padding: 10px;
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 300px;
}
.sign_in_form, .sign_up_form{
    background-color: var(--product_page_button_bg);
    color: var(--product_page_button_color);
    border-radius: 10px;
    padding: 10px;
}
.sign_in_form h3, .sign_up_form h3{
    margin-bottom:10px;
    padding-bottom:5px;
    border-bottom:solid 1px var(--product_page_button_color);
}

.sign_in_form input, .sign_up_form input{
    border:solid 1px var(--product_page_button_bg);
    border-radius:10px;
    padding:5px 10px;
    font-size: 12px;
    line-height: 12px;
    height:25px;
}
.sign_in_form .sign_in_submit, .sign_up_form .sign_up_submit{
    background: var(--product_page_button_color);
    color: var(--product_page_button_bg);
    border:solid 1px var(--product_page_button_bg);
    border-radius: 10px;
    width: 100%;
    margin: 10px 0px;
    font-size: 22px;
    line-height: 22px;
    padding: 5px 10px;
}
.sign_in_form a, .sign_in_form a:hover, .sign_in_form a:active, .sign_in_form a:focus,
.sign_up_form a, .sign_up_form a:hover, .sign_up_form a:active, .sign_up_form a:focus{
    color: var(--product_page_button_color);
    display:block;
}
.sign_in_form .form-group, .sign_up_form .form-group{
    margin-bottom: 5px;
}
.checkout_steps{
    border-bottom: solid 1px var(--highlight);
    margin: 0px 0px 10px 0px;
}
.checkout_steps > div{
    padding-top:10px;
    padding-bottom: 10px;
    font-size: 12px;
    line-height: 12px;
    color: var(--highlight);
    text-align: center;
}
.checkout_steps > div.active{
    border-bottom: solid 5px var(--highlight);
    margin-bottom: -3px;
}
.checkout_steps > div:hover{
    color: var(--highlight);
}
.checkout_steps label{
    color:var(--highlight);
}
.shipping_form, .payment_form{
    color: var(--highlight);
    border:solid 1px var(--highlight);
    border-radius: 10px;
    padding: 10px;
}
.shipping_form h3, .payment_form h3{
    margin-bottom:10px;
    padding-bottom:5px;
    border-bottom:solid 1px var(--product_page_button_color);
}
.shipping_form input, .payment_form input, 
.shipping_form select, .payment_form select{
    border:solid 1px var(--highlight);
    border-radius:10px;
    padding:5px 10px;
    font-size: 12px;
    line-height: 12px;
    height:25px;
}
.shipping_form select, .payment_form select{
    padding: 3px 8px;
}
.shipping_form .shipping_submit, .payment_form .payment_submit{
    background: var(--highlight);
    color: white;
    border:solid 1px var(--highlight);
    border-radius: 10px;
    width: 100%;
    margin: 10px 0px;
    font-size: 22px;
    line-height: 22px;
    padding: 5px 10px;
}
.shipping_form .shipping_submit:hover, .shipping_form .shipping_submit:focus, .shipping_form .shipping_submit:active, 
.payment_form .payment_submit:hover, .payment_form .payment_submit:focus, .payment_form .payment_submit:active{
    background: white;
    color: var(--highlight);
}
.shipping_form .form-group, .payment_form .form-group{
    margin-bottom: 5px;
}
.order_summary{
    color: var(--highlight);
    border:solid 1px var(--highlight);
    border-radius: 10px;
    padding: 10px;
    margin-bottom:10px;
}
.order_summary h3{
    margin-bottom:10px;
    padding-bottom:5px;
    border-bottom:solid 1px var(--highlight);
}
.order_summary .order_submit{
    background: var(--highlight);
    color: white;
    border:solid 1px var(--highlight);
    border-radius: 10px;
    width: 100%;
    margin: 10px 0px;
    font-size: 22px;
    line-height: 22px;
    padding: 5px 10px;
}
.order_summary_box{
    max-height: 310px;
    padding:5px;
    overflow-y: auto;
}
.order_summary_box .cart_body:last-child {
    border-bottom: none;
}

/*---------------------update profile---------------------*/
.profile_container{
    padding-top:20px;
    padding-bottom: 20px;
}
.update_form_container{
    padding: 10px 0px;
    width: 100%;
}
.update_form{
    background-color: var(--product_page_button_bg);
    color: var(--product_page_button_color);
    border-radius: 10px;
    padding: 10px;
}
.update_form h3{
    margin-bottom:10px;
    padding-bottom:5px;
    border-bottom:solid 1px var(--product_page_button_color);
}
.update_form input{
    border:solid 1px var(--product_page_button_bg);
    border-radius:10px;
    padding:5px 10px;
    font-size: 12px;
    line-height: 12px;
    height:25px;
}
.update_form .update_submit, .update_form .logout_submit{
    background: var(--product_page_button_color);
    color: var(--product_page_button_bg);
    border:solid 1px var(--product_page_button_bg);
    border-radius: 10px;
    width: 100%;
    margin: 10px 0px;
    font-size: 22px;
    line-height: 22px;
    padding: 5px 10px;
}
.update_form .form-group{
    margin-bottom: 5px;
}

/*---------------------purchase history---------------------*/
#history_container table{
    margin:10px 0px;
    width:100%;
}
#history_container table th{
    padding:5px 10px;
    background-color: var(--highlight);
    color:white;
    border: solid 1px var(--highlight);
    border-right: solid 1px white;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    font-weight:100;
}
#history_container table th:last-child{
    border-right: solid 1px var(--highlight);
}
#history_container table td{
    padding:5px 10px;
    background-color: transparent;
    color: var(--highlight);
    border: solid 1px var(--highlight);
    text-align: center;
    font-size: 12px;
    line-height: 12px;
}

/*---------------------footer---------------------*/
footer { 
	background-color:var(--footer_bg);   
    padding: 10px;
    color: var(--footer_color);
	position:relative;
    bottom:32px;
}

/*---------------------radio---------------------*/
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid var(--highlight);
    border-radius: 100%;
    background: white;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: var(--highlight);
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}